@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
}

@media(max-width: 600px) {
  body {
    background-color: rgb(140, 140, 140);
    color: white;
  }

  body .box-table {
    background-color: white;
  }
}

.table {
  overflow: auto;
}

table {

  font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #555;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05),
    0px 30px 20px rgba(0, 0, 0, 0.05);
  max-width: 1000px;

  tr {
    &:hover {
      background: #f4f4f4;

      td {
        color: #555;
      }
    }
  }

  th,
  td {

    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }

  th {
    background: #555;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;

    &.last {
      border-right: none;
    }
  }
}


.searchTerm {
  border: 3px solid #555;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #000000;
  margin: 0 5px;
}

.searchTerm:focus {
  color: #555;
}

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  text-align: center;
  left: 34px;

  .searchButton {

    margin: 10px;
    margin-bottom: none;
    background-color: #5555;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .searchButton:active {
    background-color: #555;
  }
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerTable {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 20px;
}

.buttonTable {
  button {
    background-color: #555;
    border: none;
    border-radius: 4px;
    width: 5rem;
    height: 2rem;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.content {

  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 15rem;

  button {
    color: white;
    background-color: #555;
    border: none;
    width: 8rem;
    height: 2rem;

    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in;
  }
}

.form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: rgb(140, 140, 140);
  padding: 24px;
  border-radius: 10px;
}

.option button {
  color: white;
  background-color: #555;
  border: none;
  width: 8rem;
  height: 2rem;
  margin: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.option button:hover {
  background-color: #555;
  color: white;
  box-shadow: 1px 2px 4px rgb(0, 0, 0)
}

.option button:active {
  background-color: rgb(67, 67, 67);
}

#form-btn {
  background-color: rgb(66, 192, 123);
  margin-top: 10px;
  margin-right: 10px;
  transition: all 0.1s;
}
.buttons #form-btn:active{
  background-color: rgb(36, 133, 80);
}

#form-btn:hover {
  background-color: rgb(50, 192, 114);
  color: white;
  box-shadow: 1px 2px 4px rgb(0, 0, 0);
}

#voltar {
  transition: all 0.1s;
}

#voltar-btn:hover {
  background-color: rgb(75, 75, 75);
  color: white;
  box-shadow: 1px 2px 4px rgb(0, 0, 0);
}

.form {
  input {
    margin: 10px;
    width: 9rem;
  }



  #listar-btn {
    background-color: rgb(75, 105, 204);
  }

  #listar-btn:hover {
    background-color: rgb(58, 92, 202);
    color: white;
    box-shadow: 1px 2px 4px rgb(0, 0, 0);
  }


}

.buttons {
  display: grid;
  padding-top: 22px;
}

.box {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: rgb(140, 140, 140);
  padding: 24px;
  border-radius: 10px;
}

label {
  font-size: 14px;
  margin-left: 12px;
  margin-bottom: 2px;
  position: relative;
  top: 10px;

}